{% extends 'AdminApp/blank.html' %} {% block mainContent %}
{% if message %}
<div id="success-alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<div class="container">
    <form id='addBadgeForm' action= "{% url 'AdminApp:addBadges' %}" method="POST">
        {% csrf_token %} 
        {{badgeForm}}
        <button id="addBadgeFormBtn"  class="btn btn-block mt-2 btn-primary">Add</button>
    </form>
</div>
<script>
    $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
        $("#success-alert").slideUp(500);
    });
</script> 
{% endblock mainContent %}