{% extends 'boyScouts/blank.html' %} {% block mainContent %}


<div class="row ">
    {% load staticfiles %}
    <div class="col-12 img-fluid text-center">
        <img alt="User Pic" class="img-fluid" style="border-radius:100%" src="{% static 'boyScouts/img/alizar.jpg' %}">
        <hr>
        <h4 class="">
            {{groupObject.user.username}}
        </h4>
    </div>
    <div class="container card-body">
        <table class="table font-weight-bold table-user-information">
            <tbody>
                <tr>
                    <td>First Name:</td>
                    <td>{{request.user.first_name}}</td>
                </tr>
                
                <tr>
                        <td>Last Name:</td>
                        <td>{{request.user.last_name}}</td>
                </tr>
                <tr>
                        <td>Group:</td>
                        <td>{{request.group.name}}</td>
                </tr>
                <tr>
                        <td>Email:</td>
                        <td>{{request.user.email}}</td>
                </tr>

            </tbody>
        </table>

       
    </div>
</div>




{% endblock %}